.card-container{
    width: 85vw;

    border: solid 1px #D0D0D0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-image{
    display: flex;
    justify-content: center;

    
    img{
        width: 40%;
        border-radius: 25px 25px 0px 0px;
    }
}

.card-title{
    margin-bottom: 15px;
}

.card-content{
    padding: 15px;
}

.card-description{
    margin-bottom: 15px;
}
