.card-container{
    width: 85vw;

    border: solid 1px #D0D0D0;
    border-radius: 25px;

    display: flex;
    margin-block: 15px;
}

.card-image img{
    width: 112px;
    height: 105px;
    border-radius: 25px 0px 0px 0px;
}

.card-title{
}

.card-content{
    display: flex;
    flex-direction: column;

    margin-inline: 10px;
    margin-block: 15px;
    justify-content: center;
}

.card-description{

}
