<div class="container">
    <div class="article">
        <div class="article-main">
            <h2>Main news</h2>
            <app-big-card 
                [title]="principalNews.titulo"
                [description]="principalNews.introducao"
                [urlLink]="principalNews.link">
            </app-big-card>
        </div>
        <div class="article-secundary">
            <div class="article-secundary-title">
                <h2>Secundary news</h2>
                <app-button-link [title]="'More'"></app-button-link>
            </div>

            <div *ngFor="let news of newsList; let i = index">
                <app-small-card 
                    [title]="news.titulo"
                    [description]="news.introducao"
                    [urlLink]="news.link">
                 </app-small-card>
            </div>
        </div>
    </div>
    <div class="best-sellers-list">
        <div class="list-title">
            <h2>Release news</h2>
            <app-button-link [title]="'More'"></app-button-link>
        </div>
        <div class="list">
            <div *ngFor="let news of releaseList; let i = index">
                <app-small-card 
                    [title]="news.titulo"
                    [description]="news.introducao"
                    [urlLink]="news.link">
                 </app-small-card>
            </div>
        </div>  
    </div>
</div>