.container{
    padding-block: 10px;
    padding-inline: 26px;
}

.article{
    display: flex;
    flex-direction: column;
}

.article-main{
    h2{
        margin-block: 5px;
    }
}

.article-secundary{
    margin-top: 30px;
}

.article-secundary-title{
    display: flex;
    align-items: center;
}

.best-sellers-list{

}

.list-title{
    display: flex;
    align-items: center;
}